.product__card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product__card{
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 0.3s ease-in-out;
}

.product__card:hover{
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}

.product-description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product__name{
    font-size: 0.85rem;
    font-weight: 600;
}

.product-description  span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    color: var(--pri-color);
    font-weight: 700;
    font-size: 0.9rem;
}

.product-description button{
    border: 1px solid rgba(18, 18, 18, 0.6);
    /* background-color: var(--acc-color-dark); */
    background: none;
    padding: 0.4rem 1.1rem;
    border-radius: 10px;
    cursor: pointer;
}

.product-description button:hover{
    filter: brightness(0.95);
    background-color: gold;
    border: 1px solid rgba(18, 18, 18, 0.1);
}

.product-description button:active{
    transform: translateY(2px);
}

.product-description .icon{
    font-size: 1.1rem;
    /* color: var(--white-color); */
}