*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

:root{
  --pri-color: #ff4e72;
  --sec-color: #99e763;
  --white-color: #f6f6f6;
  --shade-of-black: #1a1a1a;
  --deep-dark: #121212;
  --teal: #2E5077;
  --acc-color-dark: #1E3E62;
}

body{
  background-color: var(--white-color);
}